{% extends "base.html" %}

<script type="text/javascript">
  {% block jquery %}
  $('.item-qty').change(function(){
    var item = $(this).prev("input[type='hidden']").val();
    var qty = $(this).val()
    var data = {
      item: item,
      qty: qty,
    }

    $.ajax({
      type: 'GET',
      url: {% url 'cart' %},
      data: data,
      success: function(data){
        $('#jquery-message').text('Added ' + data.item_added + ' Deleted ' + data.deleted);

        if (data.deleted){
          $('#item-' + item).fadeOut();
          $('#subtotal').text(data.subtotal);
          $('#taxtotal').text(data.tax_total);
          $('#carttotal').text(data.cart_total);
        }else{
          $('#item-line-total-' + item).text(data.line_total);
          $('#subtotal').text(data.subtotal);
          $('#taxtotal').text(data.tax_total);
          $('#carttotal').text(data.cart_total);
        }

        if(data.total_items == 0){
          $('.table').fadeOut();
          var template = "{% include 'carts/empty_cart.html' %}"
          $('.main-content').html(template);
        }

        var message = ""
        if (data.item_added) {
          message = "商品が追加されました｡"
        } else if (data.deleted){
          message = "商品を戻しました｡"
        } else {
          message = "商品数を変更しました｡"
        }
        showFlashMessage(message);
        updateCartItemCount();
      },
      error: function(response, error){
        $('#add-form').submit();
      }
    })

  });
  {% endblock %}
</script>


{% block content %}

<div class="row main-content">

  {% if object.cartitem_set.count < 1 %}

    {% include 'carts/empty_cart.html' %}

  {% else %}
  <div class="col-sm-8 col-sm-offset-2">
    <h2>あなたのカート</h2>
    <table class="table">
    {% for item in object.cartitem_set.all %}
      <tr id='item-{{ item.item.id }}'>
        <td>
          {{ item.item.get_title }}
        </td>
        <td>
          <form class="" action="." method="GET">
            <input type="hidden" name="item" value="{{ item.item.id }}">
            <input class='item-qty' type="number" name="qty" value="{{ item.quantity }}">
            <input style='display: none;' class='btn-update btn btn-link' type="submit" value="変更">
          </form>
        </td>
        <td id='item-line-total-{{ item.item.id }}'>
          {{ item.line_item_total }}
        </td>
        <td class="text-right">
          <a href="{{ item.remove }}">X</a>
        </td>
      </tr>
    {% endfor %}

      <tr>
        <td colspan="4" class="text-right">
          商品の小合計: <span id="subtotal">{{ object.sub_total }}</span>円
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          消費税の合計: <span id='taxtotal'>{{ object.tax_total }}</span>円
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          合計: <span id='carttotal'>{{ object.total }}</span>円
        </td>
      </tr>

      <tr>
        <td colspan="4" class="text-right">
          <a class='btn btn-warning' href="{% url 'checkout' %}">お会計</a>
        </td>
      </tr>

    </table>
  </div>

  {% endif %}

</div><!-- row main-content END -->

{% endblock %}
